<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
							http://www.springframework.org/schema/tx
							http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />
	<context:property-placeholder location="classpath:/conf.properties"/>

	<bean id="oracleDataSource" class="br.com.danfe.fundacao.persistence.OracleDataSourceWrapper" destroy-method="close" init-method="afterPropertiesSet">
		<property name="description" value="Database"/>
		<property name="URL" value="${webdanfe.bd.url}"/>
		<property name="user" value="${webdanfe.bd.user}" />
		<property name="password" value="${webdanfe.bd.pass}" />
		<property name="connectionCacheProperties">
			<props>
				<prop key="MinLimit">5</prop>
				<prop key="MaxLimit">100</prop>
				<prop key="InitialLimit">1</prop>
				<prop key="InactivityTimeout">300</prop>
				<prop key="ConnectionWaitTimeout">120</prop>
			</props>
		</property>
	</bean>
	
	<bean id="pum" class="br.com.danfe.fundacao.persistence.impl.CustomPUM">
		<property name="persistenceXmlLocations">
			<list>
				<value>classpath*:META-INF/persistence.xml</value>
			</list>
		</property>
		<property name="defaultDataSource" ref="oracleDataSource" />
	</bean>	

	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="oracleDataSource" />
		<property name="persistenceUnitManager" ref="pum" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="true" />
				<property name="generateDdl" value="false" />
			</bean>
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.connection.release_mode">after_transaction</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
				<prop key="hibernate.default_batch_fetch_size">10</prop>
				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.SingletonEhCacheRegionFactory</prop>
				<prop key="hibernate.cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</prop>
				<prop key="hibernate.generate_statistics">false</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.cache.use_structured_entries">true</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<context:component-scan base-package="br.com.danfe" />

</beans>